* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-size: 14px;
}

#roomName {
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #008080;
}

#message-container {
    border: 2px solid #0000ff;
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    width: 400px;
    height: 500px;
}

#message-container > input[name="author"] {
    width: 95%;
    height: 10%;
    margin: 5px;
}

.message-box {
    padding: 5px;
    margin: 5px;
    width: 95%;
    height: 70%;
    max-height: 70%;
    overflow-y: scroll;
    list-style: none;
    display: block;
    align-items: center;
}

.message-sent > p {
    padding: 0px 15px 0px 15px;
}

.message-sent {
    text-align: left;
    min-height: 35px;
    border-radius: 10px;
    background-color: #006060;
    color: #ffffff;
    margin: 10px 50px 10px 10px;
    padding: 5px 10px 5px 10px;
}

.message-received  {
    text-align: right;
    min-height: 35px;
    border-radius: 10px;
    background-color: #008080;
    color: #ffffff;
    margin: 10px 10px 10px 50px;
    padding: 5px 10px 5px 10px;
}

.message-received > p {
    padding: 0px 15px 0px 15px;
    text-align: left;
}

.message-controls {
    border: 1px solid #a9a9a9;
    padding: 5px;
    height: 10%;
    margin: 5px;
}

.message-controls > input[type="text"] {
    height: 100%;
    width: 70%;
    border-radius: 20px;
    margin-right: 10px;
}

.message-controls > button {
    height: 100%;
    width: 70px;
    background-color: #0000ff;
    color: #ffffff;
    border-radius: 20px;
    float: right;
}

